<div class="row row-cols-1 justify-content-around row-cols-md-2 bg-white border">
  <div class="col-md-4 mt-5">
    <img class="img-responsive center-block mb-5" src="{{user.image}}"
      style="width: 550px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-4 mt-5">
    <p style="white-space: break-spaces;">{{user.name}}</p>
    <p style="white-space: break-spaces;">{{user.email}}</p>
    <p style="white-space: break-spaces;">{{commentCounts}} 已評論的餐廳</p>
    <p style="white-space: break-spaces;">{{favroitedCounts}} 收藏的餐廳</p>
    <p style="white-space: break-spaces;">{{followingCounts}} followings(追蹤者)</p>
    <p style="white-space: break-spaces;">{{followerCounts}} followers(追隨者)</p>


    <a href='/users/{{user.id}}/edit'>
      <button type="button" class="btn btn-primary">Edit</button>
    </a>

  </div>
</div>

<div class="d-flex justify-content-around">
  <div class="row-md-2 mb-2 mr-2">
    <div class="card px-0 mt-2">
      <div class="card-header">
        {{followingCounts}} followings(追蹤者)
      </div>
      <ul class="d-flex flex-wrap align-items-center">
        {{#each user.Followings}}
        <li class="m-3" style="max-width: 100px; list-style-type: none;">
          <a href="/users/{{this.id}}">
            <img class="w-100" src="{{this.image}}" alt="restaurant image">
          </a>
        </li>
        {{/each}}
      </ul>
    </div>

    <div class="card px-0 mt-2">
      <div class="card-header">
        {{followerCounts}} followers(追隨者)
      </div>
      <ul class="d-flex flex-wrap align-items-center">
        {{#each user.Followers}}
        <li class="m-3" style="max-width: 100px; list-style-type: none;">
          <a href="/users/{{this.id}}">
            <img class="w-100" src="{{this.image}}" alt="restaurant image">
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row-md-2 mb-2 ml-2">
    <div class="card px-0 mt-2">
      <div class="card-header">
        {{commentCounts}} 已評論的餐廳
      </div>
      <ul class="d-flex flex-wrap align-items-center">
        {{#each comment}}
        <li class="m-3" style="max-width: 100px; list-style-type: none;">
          <a href="/restaurants/{{this.Restaurant.id}}">
            <img class="w-100" src="{{this.Restaurant.image}}" alt="restaurant image">
          </a>
        </li>
        {{/each}}
      </ul>
    </div>

    <div class="card px-0 mt-2">
      <div class="card-header">
        {{favroitedCounts}} 收藏的餐廳
      </div>
      <ul class="d-flex flex-wrap align-items-center">
        {{#each user.FavoritedRestaurants}}
        <li class="m-3" style="max-width: 100px; list-style-type: none;">
          <a href="/restaurants/{{this.id}}">
            <img class="w-100" src="{{this.image}}" alt="restaurant image">
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>